{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 
    <div class="container-fluid">
        <a class="navbar-brand text-warning" href="{% url 'index' %}" >YA news </a>
  
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'genral' %}" name="genral" type="submit" id="genral">Genral</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'business' %}" name="business" id="business" >Business</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="sport" href="{% url 'sport' %}" name="sport">Sports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'technology' %}"  name="technology" id="technology">Technology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="entertainment" href="{% url 'entertainment' %}" name="entertainment">Entertainment</a>
                </li>
            </ul>
            <form class="d-flex" action="{%url 'search'%}">

                <input class="form-control me-2" type="text" id="newsQuery" name="search" placeholder="Search news">
                <button class="btn btn-outline-warning" type="submit" name="btnsearch" id="searchBtn">Search</button>
                {% if not request.user.is_authenticated %}
                <button class="btn btn-outline-warning  " type="button" id="login"><a href="{% url 'login' %}" style="text-decoration: none;color:#9c9c9c;">Login</a></button>
                {% else %}
                <button class="btn btn-outline-warning  " type="button" id="login"><a href="{% url 'profile' %}" style="text-decoration: none;color:#9c9c9c;">Profile</a></button>
                {% endif %}

            </form>
        </div>
    </div>
</nav>
